.container {
  flex: 1;
  display: flex;
  height: 100%;
}

.containerLeft {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.containerRight {
  flex: 0 0 30%;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}
