.threadList {
  overflow-y: scroll;
  height: 100%;
  padding-right: 5px;
  padding-left: 7px;
  background-color: #d9d9d9;
  padding-top: 3px;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}
