html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
}

body > div {
    height: 100%;
}

body > div > div {
    height: 100%;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

